body{
  background-image: url("/assets/img/blufood.png");
  background-position: center;
}
div { border: 5px;}
img {
  height: 210px;
  width: 275px;
}
.jumbotron {
 overflow: auto;
}
.btn-success { background-color: #ffff13 }

#newburger {
  border-radius: 5px;
}

#color-override {
  color: #fff;
}

#lefthead {
  background-color: #ffff13;
  color:black;
  text-align: center;
  font-size: 1.2em;
}

#eatbutton, #trashbutton {
  float: right;
}

#righthead {
  background-color: #ffff13;
  color:black;
  text-align: center;
  font-size: 1.2em;
}