body{
  background-image: url("/assets/img/food.png");
  background-position: center;
}
img {
  height: 210px;
  width: 275px;
}
.jumbotron {
  height: fit-content;
}

#newburger {
  border-radius: 5px;
}

#color-override {
  color: #fff;
}

#lefthead {
  background-color: #5cb85c;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#eatbutton, #trashbutton {
  float: right;
}

#righthead {
  background-color: #f0ad4e;
  color: white;
  text-align: center;
  font-size: 1.2em;
}